@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    background-color: whitesmoke;
    font-family: 'Roboto', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

p {
    margin-top: 15px;
}

input {
    margin: 0;
    padding: 0;
}

#map {
    height: 300px;
    width: 100%;
}

.clear {
    clear: both;
}

.form-check-input{
    margin-left: 0;
}

.navbar {
    box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
    color: #E3E85A;
    font-family: "chunkfiveroman", Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -0.3px;
    font-size:26px;
    margin-bottom: 0;

}

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);    
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

.booyah-box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.invalid-feedback {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
  }

.button-right {
    padding: 20px;
    position: absolute;
    right: 0px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
  
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
  
blockquote p {
    display: inline;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    height: 500px;
    width: 100%;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    left: 0;
  }

  .carousel {
    box-shadow: 0px 3px 8px #2a2a2a;
  }
